body{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #030303;
    justify-content: center;
    align-items: center;
    background-color: #957777;
    max-width: 100%;
}


.container {
    width: 100%;
    min-height: 200px;
    flex-wrap: wrap;
}

#show_text{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}